<div class="row marginTopExtra">

  <div class="col-xs-12">
    <div uib-carousel active="active" interval="$ctrl.myInterval">
      <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
        <img ng-src="{{ slide.image }}" style="margin:auto;">
        <div>
          <h4 class="tituloSlide">{{ slide.text }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class=" panel panel-default col-xs-12 col-sm-5 col-md-5">
    <div class="tituloCards">
      <h3>Cartas mais usadas</h3>
    </div>
    <div class="paddingCards">
      <div class="" ng-repeat="carta in $ctrl.cardsCarregados">
        <a href="#" uib-tooltip="imagem da carta aqui">{{ carta[0].name }}</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default col-xs-12 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
    <div class="tituloCards">
      <h3>Decks mais populares</h3>
    </div>
    <div class="paddingCards">
      <div class="" ng-repeat="deck in $ctrl.decksPopulares">

        <a href="#">{{ deck.nome }}</a>
      </div>

    </div>
  </div>

  <div class="panel panel-default col-xs-12 col-sm-5 col-md-5 col-md-offset-1">
    <div class="tituloCards">
      <h3>Novos decks</h3>
    </div>
    <div class="paddingCards">
      <div class="" ng-repeat="deck in $ctrl.novosDecks">
        <a href="#">{{ deck.nome }}</a>
      </div>
    </div>
  </div>

</div>
