body {
  background-color: #2e4756;
}

.tituloCards {
  font-family: 'Oswald', sans-serif;
}
.marginTopExtra {
  margin-top: 60px;
}

.paddingCards {
  padding: 10px;
}

.paddingPaineis{
  padding: 20px;
}

.marginExtra {
  margin: 10px;
}

.tituloPanel {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #fff;
}

.panelListaCards {

}

.tituloDeck {
  font-size: 1.2em;
  font-weight: bold;
}

.textoExplicativo {
  padding: 10px;
  background-color: #bfedef;
  border-left: 6px solid blue;
}

.tituloDeckBuilder {
  color: #fff;
  border-bottom: 3px solid #fff;
}
