body {
  background-color: #2e4756;
}

.tituloCards {
  font-family: 'Oswald', sans-serif;
}
.marginTopExtra {
  margin-top: 60px;
}

.paddingCards {
  padding: 10px;
}

.paddingPaineis{
  padding: 20px;
}

.marginExtra {
  margin: 10px;
}

.tituloPanel {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #fff;
}

.panelListaCards {

}

.tituloDeck {
  font-size: 1.2em;
  font-weight: bold;
}

.textoExplicativo {
  padding: 10px;
  background-color: #bfedef;
  border-left: 6px solid blue;
}

.tituloDeckBuilder {
  color: #fff;
  border-bottom: 3px solid #fff;
}

div.ex1 {
  height: 900px;
  overflow-y: scroll;
}

.marginMiniTop {
  margin-top: 10px;
}

.nomeCarta {
  font-weight: bold;
}

.lendario {
  color: #f18701;
}

.epico {
  color: #9b287b;
}

.comum {
  color: #253031;
}

.raro {
  color: #2e5077;
}

.navbar {
  box-shadow: 0 8px 6px -6px;
}
.tituloSlide {
  color: #fff;
  font-weight: bolder;
}

.ui-resolve::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5) url('app/component/deckbuilder/imagens/spinner-gif.gif') no-repeat center center;
}